Basic Data.json
[{"id":"f9de33be.35c61","type":"tab","label":"Basic Data","disabled":false,"info":""},{"id":"8308210c.52163","type":"debug","z":"f9de33be.35c61","name":"Serial_Out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":300,"wires":[]},{"id":"67aa549f.1646ec","type":"ui_text","z":"f9de33be.35c61","group":"7b988175.f933f","order":1,"width":"2","height":"1","name":"","label":"Frekuensi","format":"<font color={{msg.green}}>{{msg.payload}}</font>","layout":"col-center","x":1260,"y":720,"wires":[]},{"id":"d015ab90.713648","type":"ui_text","z":"f9de33be.35c61","group":"7b988175.f933f","order":4,"width":"2","height":"1","name":"","label":"Tegangan","format":"{{msg.payload}}","layout":"col-center","x":1260,"y":760,"wires":[]},{"id":"8b940512.8f95f8","type":"ui_text","z":"f9de33be.35c61","group":"7b988175.f933f","order":5,"width":"2","height":"1","name":"","label":"Energy","format":"{{msg.payload}}","layout":"col-center","x":1500,"y":760,"wires":[]},{"id":"cb486b21.c88818","type":"ui_text","z":"f9de33be.35c61","group":"7b988175.f933f","order":6,"width":"2","height":"1","name":"","label":"Arus","format":"{{msg.payload}}","layout":"col-center","x":1250,"y":800,"wires":[]},{"id":"bda7b4a3.372c88","type":"ui_text","z":"f9de33be.35c61","group":"7b988175.f933f","order":7,"width":"2","height":"1","name":"","label":"P Factor","format":"{{msg.payload}}","layout":"col-center","x":1500,"y":800,"wires":[]},{"id":"817c0ff9.389ae","type":"ui_gauge","z":"f9de33be.35c61","name":"","group":"4571b54a.311f3c","order":0,"width":"0","height":"0","gtype":"gage","title":"Arus","label":"units","format":"{{value}}","min":"0","max":"2","colors":["#5d3caa","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1250,"y":1080,"wires":[]},{"id":"8c0eec0f.52cb7","type":"ui_gauge","z":"f9de33be.35c61","name":"","group":"7b988175.f933f","order":2,"width":0,"height":0,"gtype":"gage","title":"Arus","label":"units","format":"{{value}}","min":"-3","max":"3","colors":["#fa478f","#e60091","#ca3838"],"seg1":"","seg2":"","x":1250,"y":680,"wires":[]},{"id":"2d78b102.fa683e","type":"ui_gauge","z":"f9de33be.35c61","name":"","group":"e48767aa.312ff8","order":1,"width":"0","height":"0","gtype":"gage","title":"Tegangan","label":"units","format":"{{value}}","min":"0","max":"300","colors":["#8a36ce","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1260,"y":1040,"wires":[]},{"id":"bd09684c.c6e1c8","type":"ui_chart","z":"f9de33be.35c61","name":"","group":"1ef0e674.9698ba","order":1,"width":0,"height":0,"label":"Arus","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#d6770a","#769dd0","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1250,"y":1120,"wires":[[]]},{"id":"e1c1c4c9.fbda28","type":"function","z":"f9de33be.35c61","name":"Parsing Data","func":"var outputMsgs=[];\nvar values = msg.payload.trim().split(\",\");\nfor (var v in values){\n    outputMsgs.push({payload:values[v]});\n}\nreturn  outputMsgs;","outputs":26,"noerr":0,"initialize":"","finalize":"","x":1210,"y":360,"wires":[["97b01d2b.a5de6"],["1358e58.e01ee1b"],["de57f375.c2873"],["2788e147.7d5cde"],["c568feef.dd4f1"],["5a7f98db.92b358"],["ad229471.46b008"],["491e48a.b1b80b8"],["5485cfde.ed112"],["df8ba88.7ca0858"],["6f60706c.caf2a"],["aed3ff98.e7344"],["b0f9bce2.e3ae"],["72ae3cd9.9632f4"],["58d28bf.41a8a74"],["18cecfa0.c31a4"],["df00ff84.a72b"],["e96c9c5d.5c328"],["e7e387a3.381b58"],["4115fc9f.f4aa34"],["d6983b99.65fd08"],["91857ae6.03ea38"],["8effb210.2676a"],["60c8a100.04067"],["50bf5b47.295be4"],["21be2926.bc2bc6"]]},{"id":"405637f9.767b78","type":"serial in","z":"f9de33be.35c61","name":"SerialInput","serial":"7cc77f6a.eccca","x":740,"y":360,"wires":[["28dd5cce.61d664"]]},{"id":"563d068.99d60f8","type":"ui_text","z":"f9de33be.35c61","group":"1a7cabb2.fa5864","order":1,"width":"2","height":"1","name":"","label":"Uptime","format":"{{msg.payload}} s ","layout":"col-center","x":1260,"y":860,"wires":[]},{"id":"62661c9b.3faef4","type":"ui_text","z":"f9de33be.35c61","group":"1a7cabb2.fa5864","order":2,"width":"2","height":"1","name":"","label":"Runtime","format":"{{msg.payload}} s","layout":"col-center","x":1260,"y":900,"wires":[]},{"id":"f3dd0c16.7ebf8","type":"ui_text","z":"f9de33be.35c61","group":"1a7cabb2.fa5864","order":3,"width":"2","height":"1","name":"","label":"Downtime","format":"{{msg.payload}} s","layout":"col-center","x":1260,"y":940,"wires":[]},{"id":"b6542650.28a818","type":"ui_text","z":"f9de33be.35c61","group":"1a7cabb2.fa5864","order":4,"width":"2","height":"1","name":"","label":"Utilization","format":"{{msg.payload}} s","layout":"col-center","x":1260,"y":980,"wires":[]},{"id":"9a8b05ff.487118","type":"mysql","z":"f9de33be.35c61","mydb":"73fc5ddb.de86c4","name":"Database_phpmyadmin","x":2010,"y":880,"wires":[[]]},{"id":"aa5af1c1.713c2","type":"function","z":"f9de33be.35c61","name":"Insert to Database","func":"var outputMsgs=[];\nvar values = msg.payload.trim().split(\",\");\nfor (var v in values){\n    outputMsgs.push({payload:values[v]});\n}\n// replace myTable with your db table name \nvar d=new Date();\nvar Time=d.toLocaleTimeString();\nvar _resultDate = d.toLocaleDateString();\nvar tegangan =parseInt(values[2]*1.73205081)\nvar arus =values[3]\nvar power=values[4]\nvar energy=values[2]\nvar cost=values[5]*1500\n\nmsg.topic = \"INSERT INTO tabel_data1 (data1,data2,tegangan,arus,power,energy,frekuensi,power_factor,tegangan_1,arus_1,power_1,energy_1,frekuensi_1,power_factor_1,tegangan_2,arus_2,power_2,energy_2,frekuensi_2,power_factor_2,tegangan_phase,arus_total,power_total,energy_total,cost,time_upload,date) VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)\";\nmsg.payload = [values[0],values[1],values[2],values[3],values[4],values[5],values[6],values[7],values[8],values[9],values[10],values[11],values[12],values[13],values[14],values[15],values[16],values[17],values[18],values[19],tegangan,arus,power,energy,cost,Time,_resultDate];\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1550,"y":880,"wires":[["3f3fdb93.95a6e4"]]},{"id":"97b01d2b.a5de6","type":"link out","z":"f9de33be.35c61","name":"Data1","links":[],"x":1555,"y":60,"wires":[]},{"id":"1358e58.e01ee1b","type":"link out","z":"f9de33be.35c61","name":"Data2","links":[],"x":1555,"y":100,"wires":[]},{"id":"de57f375.c2873","type":"link out","z":"f9de33be.35c61","name":"Tegangan","links":["6618e022.58f09","55668525.ea3bac","a391c02a.7a154","54c2c514.e8f5bc","3f5d1039.86952","6cadea2c.abedf4","e5c50c4e.145d2","75d36d0d.9409a4","8540a12c.d9975"],"x":1555,"y":140,"wires":[]},{"id":"2788e147.7d5cde","type":"link out","z":"f9de33be.35c61","name":"Arus","links":["69f99865.0dc448","4b1dd4bf.f0046c","d60c8f15.d3014","7d7dee3e.d96b5","d7ba5e40.fb161","b35216e4.19efe8","8d9a8626.7ec288","265a55d4.6da27a","6d57702c.ac38","7435cce4.a8b964","a8748d4f.6d861","2838878b.9c4ea8","d3189902.d2e228","e0c531fc.960e4"],"x":1555,"y":180,"wires":[]},{"id":"c568feef.dd4f1","type":"link out","z":"f9de33be.35c61","name":"Power","links":["be6bcb28.019508","9894bd2f.52f04","c48a4f7b.0f47f","13b29f9e.ed3ef","a10d471b.1f6238","e2bbee17.1b35","c0e14193.88fd2","18a15b60.66f2f5"],"x":1555,"y":220,"wires":[]},{"id":"4b1dd4bf.f0046c","type":"link in","z":"f9de33be.35c61","name":"Data1","links":["2788e147.7d5cde","991fe50e.e2b3a8"],"x":1155,"y":680,"wires":[["8c0eec0f.52cb7"]]},{"id":"3dda8b4f.216ca4","type":"link in","z":"f9de33be.35c61","name":"Data2","links":["ad229471.46b008","44f470dc.e6e53"],"x":1155,"y":720,"wires":[["67aa549f.1646ec"]]},{"id":"6618e022.58f09","type":"link in","z":"f9de33be.35c61","name":"Data3","links":["de57f375.c2873","5d7f495d.7952f8"],"x":1155,"y":760,"wires":[["d015ab90.713648"]]},{"id":"69f99865.0dc448","type":"link in","z":"f9de33be.35c61","name":"Data4","links":["2788e147.7d5cde","991fe50e.e2b3a8"],"x":1155,"y":800,"wires":[["cb486b21.c88818"]]},{"id":"9894bd2f.52f04","type":"link in","z":"f9de33be.35c61","name":"Data3","links":["c568feef.dd4f1","51f5e32b.d864ec"],"x":1395,"y":680,"wires":[["a95b89e5.2dcd68"]]},{"id":"be6bcb28.019508","type":"link in","z":"f9de33be.35c61","name":"Data2","links":["c568feef.dd4f1","51f5e32b.d864ec"],"x":1395,"y":720,"wires":[["cab938b9.1db838"]]},{"id":"6481e4e0.8613dc","type":"link in","z":"f9de33be.35c61","name":"Data1","links":["5a7f98db.92b358","f06dbe41.70e77"],"x":1395,"y":760,"wires":[["8b940512.8f95f8"]]},{"id":"43274394.f8d4ac","type":"link in","z":"f9de33be.35c61","name":"Data4","links":["491e48a.b1b80b8","e86b2cb9.fd05c"],"x":1395,"y":800,"wires":[["bda7b4a3.372c88"]]},{"id":"eaf63bb4.3aed38","type":"link in","z":"f9de33be.35c61","name":"DataTime","links":["519f9060.7a7a9"],"x":1155,"y":860,"wires":[["563d068.99d60f8"]]},{"id":"9492e364.aa4a6","type":"link in","z":"f9de33be.35c61","name":"DataTime","links":["519f9060.7a7a9","741ccc7e.28ebc4"],"x":1155,"y":900,"wires":[["62661c9b.3faef4"]]},{"id":"ce479560.789da8","type":"link in","z":"f9de33be.35c61","name":"DataTime","links":["519f9060.7a7a9","741ccc7e.28ebc4"],"x":1155,"y":940,"wires":[["f3dd0c16.7ebf8"]]},{"id":"9bea2a7.ce354d8","type":"link in","z":"f9de33be.35c61","name":"DataTime1","links":["519f9060.7a7a9"],"x":1155,"y":980,"wires":[["b6542650.28a818"]]},{"id":"55668525.ea3bac","type":"link in","z":"f9de33be.35c61","name":"Tegangan","links":["de57f375.c2873","5d7f495d.7952f8"],"x":1155,"y":1040,"wires":[["2d78b102.fa683e"]]},{"id":"d60c8f15.d3014","type":"link in","z":"f9de33be.35c61","name":"Data4","links":["2788e147.7d5cde","991fe50e.e2b3a8"],"x":1155,"y":1080,"wires":[["817c0ff9.389ae"]]},{"id":"7d7dee3e.d96b5","type":"link in","z":"f9de33be.35c61","name":"Data2","links":["2788e147.7d5cde","991fe50e.e2b3a8"],"x":1155,"y":1120,"wires":[["bd09684c.c6e1c8"]]},{"id":"5c102027.49e94","type":"link in","z":"f9de33be.35c61","name":"SerialOut","links":["cb3ebdf9.17a57"],"x":715,"y":300,"wires":[["8308210c.52163"]]},{"id":"46dc41bf.48b14","type":"link in","z":"f9de33be.35c61","name":"SerialOut","links":["cb3ebdf9.17a57","da8c3702.76d8b8","f4de898a.3a03e8","18ee9f54.715671"],"x":1415,"y":880,"wires":[["aa5af1c1.713c2"]]},{"id":"cb3ebdf9.17a57","type":"link out","z":"f9de33be.35c61","name":"SerialOut","links":["5c102027.49e94","c58beba2.81a638","46dc41bf.48b14","65dc2c22.6f1164","df4a49bd.5f1a28","b222adf7.614e","d1d471d7.d69ba","1756877a.bed9d9","e1258d19.cf4df","2679bf76.4f533","4e0442fb.8170dc"],"x":1035,"y":360,"wires":[]},{"id":"5a7f98db.92b358","type":"link out","z":"f9de33be.35c61","name":"Energy","links":["2d387583.6fa88a","6481e4e0.8613dc","3a10e37f.26b3ac","9669f666.554118","c5f854d3.02c688","b2d7ec35.e124f","f3c73a36.b8d398","a5d34278.ea54d","620d1a9d.88fc84","2647beb6.5c0092","599515c7.bffa5c"],"x":1555,"y":260,"wires":[]},{"id":"519f9060.7a7a9","type":"link out","z":"f9de33be.35c61","name":"DataTime","links":["9492e364.aa4a6","ce479560.789da8","eaf63bb4.3aed38","9bea2a7.ce354d8","a94b44bf.475918"],"x":1935,"y":940,"wires":[]},{"id":"2d387583.6fa88a","type":"link in","z":"f9de33be.35c61","name":"Data6","links":["5a7f98db.92b358","f06dbe41.70e77"],"x":1415,"y":940,"wires":[["f8b1bb1c.c0a3a8"]]},{"id":"28223191.bc8aee","type":"function","z":"f9de33be.35c61","name":"Time_counter","func":"var value = msg.payload\nvar counter = flow.get(\"counter\")||0\nif (value == 0){\n    counter=0;\n}\nelse \n{\n    counter++;\n}\nif(counter==3600)\n{\n    counter=0\n}\nflow.set(\"counter\",counter)\nmsg.payload=counter\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1780,"y":940,"wires":[["519f9060.7a7a9"]]},{"id":"3f3fdb93.95a6e4","type":"delay","z":"f9de33be.35c61","name":"","pauseType":"queue","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"4","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1780,"y":880,"wires":[["9a8b05ff.487118"]]},{"id":"ad229471.46b008","type":"link out","z":"f9de33be.35c61","name":"Frekuensi","links":["3dda8b4f.216ca4","612516b9.a4c0b8","116d2d4e.fe9113","ebe8e6cf.cc7938","8115b615.60a2a8","d73881b6.42382","550f6af2.e95b44","bae75082.bef2c","5be855aa.88f3ac","1bee4e09.8fef12","4929cb83.a6d1c4"],"x":1555,"y":300,"wires":[]},{"id":"491e48a.b1b80b8","type":"link out","z":"f9de33be.35c61","name":"Power Factor","links":["43274394.f8d4ac","312d0cfe.f9fd84","a82f1622.9e58c8","fc66f9b3.e84168"],"x":1555,"y":340,"wires":[]},{"id":"c58beba2.81a638","type":"link in","z":"f9de33be.35c61","name":"SerialOut","links":["cb3ebdf9.17a57","f4de898a.3a03e8","18ee9f54.715671"],"x":1095,"y":360,"wires":[["e1c1c4c9.fbda28"]]},{"id":"28dd5cce.61d664","type":"delay","z":"f9de33be.35c61","name":"","pauseType":"queue","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":910,"y":360,"wires":[["cb3ebdf9.17a57"]]},{"id":"f8b1bb1c.c0a3a8","type":"delay","z":"f9de33be.35c61","name":"","pauseType":"queue","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1550,"y":940,"wires":[["28223191.bc8aee"]]},{"id":"fc03df2f.e6751","type":"function","z":"f9de33be.35c61","name":"Excel Upload","func":"var date=msg.date;\nmsg.topic = \"SELECT `data1`, `data2`, `tegangan`, `arus`, `power`, `energy`, `frekuensi`, `power_factor`,`tegangan_1`,`arus_1`,`power_1`,`energy_1`,`frekuensi_1`,`power_factor_1`,`tegangan_2`,`arus_2`,`power_2`,`energy_2`,`frekuensi_2`,`power_factor_2`,`time_upload`,`date`,`trigger_reset` FROM `tabel_data1` WHERE date='\" +date+\"'\";\nmsg.payload=date\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1770,"y":1040,"wires":[["7f3f2b89.eba7b4"]]},{"id":"eb1b7d4a.8935d","type":"csv","z":"f9de33be.35c61","name":"Excel_data","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\r\\n","temp":"Data1,Data2,Tegangan,Arus,Power,Energy,Frekuensi,Power_Factor,Time_Upload,Date,Trigger_reset","skip":"5","strings":true,"include_empty_strings":false,"include_null_values":false,"x":2230,"y":1040,"wires":[["91c18592.5f3188"]]},{"id":"91c18592.5f3188","type":"file","z":"f9de33be.35c61","name":"","filename":"Downloads\\History_data.csv","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2460,"y":1040,"wires":[[]]},{"id":"7f3f2b89.eba7b4","type":"mysql","z":"f9de33be.35c61","mydb":"73fc5ddb.de86c4","name":"Database_phpmyadmin","x":2010,"y":1040,"wires":[["eb1b7d4a.8935d"]]},{"id":"6b444530.962a4c","type":"ui_toast","z":"f9de33be.35c61","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"File : Downloads\\History_data.csv","name":"","x":1730,"y":1100,"wires":[[]]},{"id":"f2d7c2b7.39c29","type":"function","z":"f9de33be.35c61","name":"","func":"var d=new Date();\nvar Time=d.toLocaleTimeString();\nmsg.payload=Time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1580,"y":1100,"wires":[["6b444530.962a4c"]]},{"id":"1155debf.598d21","type":"ui_date_picker","z":"f9de33be.35c61","name":"","label":"date","group":"e011de84.667dc","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":1430,"y":1040,"wires":[["f2d7c2b7.39c29","b3854e52.dedf2"]]},{"id":"b3854e52.dedf2","type":"function","z":"f9de33be.35c61","name":"set timestamp","func":"var d = new Date(msg.payload);\nvar button=msg.topic\nvar formattedDate = d.toLocaleDateString();\nmsg.date=formattedDate;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":1040,"wires":[["fc03df2f.e6751"]]},{"id":"d6983b99.65fd08","type":"link out","z":"f9de33be.35c61","name":"uh","links":["8c5e3e14.122da"],"x":1555,"y":420,"wires":[]},{"id":"cab938b9.1db838","type":"ui_text","z":"f9de33be.35c61","group":"7b988175.f933f","order":3,"width":"2","height":"1","name":"","label":"Power","format":"{{msg.payload}}","layout":"col-center","x":1490,"y":720,"wires":[]},{"id":"a95b89e5.2dcd68","type":"ui_chart","z":"f9de33be.35c61","name":"","group":"7b988175.f933f","order":8,"width":"0","height":"0","label":"Power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#53d20f","#aec7e8","#e6730f","#2ca02c","#98df8a","#d72828","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1490,"y":680,"wires":[[]]},{"id":"91857ae6.03ea38","type":"link out","z":"f9de33be.35c61","name":"um","links":["d58f2ec1.d96fe"],"x":1555,"y":460,"wires":[]},{"id":"8effb210.2676a","type":"link out","z":"f9de33be.35c61","name":"rh","links":["a0b655d.eb34ba8"],"x":1555,"y":500,"wires":[]},{"id":"60c8a100.04067","type":"link out","z":"f9de33be.35c61","name":"rm","links":["57e8438c.00a19c"],"x":1555,"y":540,"wires":[]},{"id":"50bf5b47.295be4","type":"link out","z":"f9de33be.35c61","name":"dh","links":["fc3808f4.dde918"],"x":1555,"y":580,"wires":[]},{"id":"21be2926.bc2bc6","type":"link out","z":"f9de33be.35c61","name":"dm","links":["a260c440.6d6f88"],"x":1555,"y":620,"wires":[]},{"id":"ccd6068a.9992d8","type":"function","z":"f9de33be.35c61","name":"rms","func":"var rms=msg.payload\nvar rms1=parseInt(rms-10)\nmsg.payload=rms1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":140,"wires":[[]]},{"id":"5485cfde.ed112","type":"link out","z":"f9de33be.35c61","name":"Tegangan1","links":["660966bb.f4b918"],"x":1655,"y":140,"wires":[]},{"id":"df8ba88.7ca0858","type":"link out","z":"f9de33be.35c61","name":"Arus1","links":["1c0bf428.ad4d0c"],"x":1655,"y":180,"wires":[]},{"id":"6f60706c.caf2a","type":"link out","z":"f9de33be.35c61","name":"Power1","links":["80a4507e.b5091"],"x":1655,"y":220,"wires":[]},{"id":"aed3ff98.e7344","type":"link out","z":"f9de33be.35c61","name":"Energy1","links":["348a5a03.d1aeb6"],"x":1655,"y":260,"wires":[]},{"id":"b0f9bce2.e3ae","type":"link out","z":"f9de33be.35c61","name":"Frekuensi1","links":[],"x":1655,"y":300,"wires":[]},{"id":"72ae3cd9.9632f4","type":"link out","z":"f9de33be.35c61","name":"Power Factor1","links":["f39da347.766c7"],"x":1655,"y":340,"wires":[]},{"id":"58d28bf.41a8a74","type":"link out","z":"f9de33be.35c61","name":"Tegangan2","links":["208f451.05411ba"],"x":1755,"y":140,"wires":[]},{"id":"18cecfa0.c31a4","type":"link out","z":"f9de33be.35c61","name":"Arus2","links":["aed8cc93.929b5"],"x":1755,"y":180,"wires":[]},{"id":"df00ff84.a72b","type":"link out","z":"f9de33be.35c61","name":"Power2","links":["97284d46.b58c8"],"x":1755,"y":220,"wires":[]},{"id":"e96c9c5d.5c328","type":"link out","z":"f9de33be.35c61","name":"Energy2","links":["38af50e8.166e5"],"x":1755,"y":260,"wires":[]},{"id":"e7e387a3.381b58","type":"link out","z":"f9de33be.35c61","name":"Frekuensi2","links":[],"x":1755,"y":300,"wires":[]},{"id":"4115fc9f.f4aa34","type":"link out","z":"f9de33be.35c61","name":"Power Factor2","links":["8681c536.271d68"],"x":1755,"y":340,"wires":[]},{"id":"7b988175.f933f","type":"ui_group","name":"Group 1","tab":"35b9a4f.783b15c","order":2,"disp":true,"width":"8","collapse":false},{"id":"4571b54a.311f3c","type":"ui_group","name":"Group 4","tab":"35b9a4f.783b15c","order":4,"disp":true,"width":"8","collapse":false},{"id":"e48767aa.312ff8","type":"ui_group","name":"Group 2","tab":"35b9a4f.783b15c","order":6,"disp":true,"width":"8","collapse":false},{"id":"1ef0e674.9698ba","type":"ui_group","name":"Group 5","tab":"35b9a4f.783b15c","order":5,"disp":true,"width":"8","collapse":false},{"id":"7cc77f6a.eccca","type":"serial-port","serialport":"COM24","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"1a7cabb2.fa5864","type":"ui_group","name":"Group 3","tab":"35b9a4f.783b15c","order":3,"disp":true,"width":"8","collapse":false},{"id":"73fc5ddb.de86c4","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"iotsql","tz":"","charset":"UTF8"},{"id":"e011de84.667dc","type":"ui_group","name":"Download History Data","tab":"35b9a4f.783b15c","order":6,"disp":true,"width":"6","collapse":false},{"id":"35b9a4f.783b15c","type":"ui_tab","name":"My Dashboard ","icon":"dashboard","order":2,"disabled":false,"hidden":false,"info":"<table border=1>\n    <tr></td>Hallo</td></tr>\n</table> "}]