Dashboard.json
[{"id":"af139ba3.adca38","type":"tab","label":"Dashboard Utama","disabled":false,"info":""},{"id":"b8619744.bdb938","type":"ui_text","z":"af139ba3.adca38","group":"daa24bbc.e7d478","order":1,"width":"2","height":"1","name":"","label":"Tegangan","format":"{{msg.payload}} V","layout":"col-center","x":400,"y":180,"wires":[]},{"id":"7b59eb90.ca0f84","type":"ui_text","z":"af139ba3.adca38","group":"daa24bbc.e7d478","order":2,"width":"2","height":"1","name":"","label":"Arus","format":"{{msg.payload}} A","layout":"col-center","x":390,"y":220,"wires":[]},{"id":"e5c50c4e.145d2","type":"link in","z":"af139ba3.adca38","name":"","links":["de57f375.c2873"],"x":295,"y":180,"wires":[["b8619744.bdb938"]]},{"id":"8d9a8626.7ec288","type":"link in","z":"af139ba3.adca38","name":"","links":["2788e147.7d5cde"],"x":295,"y":220,"wires":[["7b59eb90.ca0f84"]]},{"id":"34f99203.7ce28e","type":"ui_text","z":"af139ba3.adca38","group":"daa24bbc.e7d478","order":3,"width":"2","height":"1","name":"","label":"P Factor","format":"{{msg.payload}} ","layout":"col-center","x":400,"y":260,"wires":[]},{"id":"fc66f9b3.e84168","type":"link in","z":"af139ba3.adca38","name":"","links":["491e48a.b1b80b8"],"x":295,"y":260,"wires":[["34f99203.7ce28e"]]},{"id":"f3c73a36.b8d398","type":"link in","z":"af139ba3.adca38","name":"","links":["5a7f98db.92b358"],"x":595,"y":560,"wires":[["a002e4e5.ad4b08"]]},{"id":"a002e4e5.ad4b08","type":"ui_chart","z":"af139ba3.adca38","name":"","group":"95894707.a4dd78","order":8,"width":"6","height":"5","label":"Energy","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e70d0d","#aec7e8","#e6730f","#2ca02c","#98df8a","#d72828","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":560,"wires":[[]]},{"id":"524223c2.f95f4c","type":"ui_text","z":"af139ba3.adca38","group":"1915f58a.4e7f3a","order":1,"width":"2","height":"1","name":"","label":"Tegangan","format":"{{msg.payload}} V","layout":"col-center","x":700,"y":180,"wires":[]},{"id":"69e639f6.df2d78","type":"ui_text","z":"af139ba3.adca38","group":"1915f58a.4e7f3a","order":2,"width":"2","height":"1","name":"","label":"Arus","format":"{{msg.payload}} A","layout":"col-center","x":690,"y":220,"wires":[]},{"id":"660966bb.f4b918","type":"link in","z":"af139ba3.adca38","name":"","links":["5485cfde.ed112"],"x":595,"y":180,"wires":[["524223c2.f95f4c"]]},{"id":"1c0bf428.ad4d0c","type":"link in","z":"af139ba3.adca38","name":"","links":["df8ba88.7ca0858"],"x":595,"y":220,"wires":[["69e639f6.df2d78"]]},{"id":"4c237a6c.f78864","type":"ui_text","z":"af139ba3.adca38","group":"1915f58a.4e7f3a","order":3,"width":"2","height":"1","name":"","label":"P Factor","format":"{{msg.payload}} ","layout":"col-center","x":700,"y":260,"wires":[]},{"id":"f39da347.766c7","type":"link in","z":"af139ba3.adca38","name":"","links":["72ae3cd9.9632f4"],"x":595,"y":260,"wires":[["4c237a6c.f78864"]]},{"id":"80a4507e.b5091","type":"link in","z":"af139ba3.adca38","name":"","links":["6f60706c.caf2a"],"x":595,"y":300,"wires":[["5aecf254.4f84ac"]]},{"id":"5aecf254.4f84ac","type":"ui_chart","z":"af139ba3.adca38","name":"","group":"1915f58a.4e7f3a","order":4,"width":"0","height":"0","label":"Power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#53d20f","#aec7e8","#e6730f","#2ca02c","#98df8a","#d72828","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":690,"y":300,"wires":[[]]},{"id":"348a5a03.d1aeb6","type":"link in","z":"af139ba3.adca38","name":"","links":["aed3ff98.e7344"],"x":595,"y":600,"wires":[["6dc759c7.e66198"]]},{"id":"6dc759c7.e66198","type":"ui_chart","z":"af139ba3.adca38","name":"","group":"98ba33f6.116b3","order":8,"width":"6","height":"5","label":"Energy","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e41b39","#aec7e8","#e6730f","#2ca02c","#98df8a","#d72828","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":600,"wires":[[]]},{"id":"2647beb6.5c0092","type":"link in","z":"af139ba3.adca38","name":"","links":["5a7f98db.92b358"],"x":595,"y":400,"wires":[["21b918b9.0be1d8"]]},{"id":"21b918b9.0be1d8","type":"ui_chart","z":"af139ba3.adca38","name":"","group":"43515583.f4b06c","order":1,"width":"6","height":"5","label":"Energy Total","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f40e5","#aec7e8","#e6730f","#2ca02c","#98df8a","#d72828","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":400,"wires":[[]]},{"id":"cf7bb50d.001f68","type":"ui_text","z":"af139ba3.adca38","group":"cfde000e.e9221","order":1,"width":"2","height":"1","name":"","label":"Tegangan","format":"{{msg.payload}} V","layout":"col-center","x":1020,"y":180,"wires":[]},{"id":"e570f16f.5cd1e","type":"ui_text","z":"af139ba3.adca38","group":"cfde000e.e9221","order":2,"width":"2","height":"1","name":"","label":"Arus ","format":"{{msg.payload}} A","layout":"col-center","x":1010,"y":220,"wires":[]},{"id":"208f451.05411ba","type":"link in","z":"af139ba3.adca38","name":"","links":["58d28bf.41a8a74"],"x":915,"y":180,"wires":[["cf7bb50d.001f68"]]},{"id":"aed8cc93.929b5","type":"link in","z":"af139ba3.adca38","name":"","links":["18cecfa0.c31a4"],"x":915,"y":220,"wires":[["e570f16f.5cd1e"]]},{"id":"b28fc83d.0cbda8","type":"ui_text","z":"af139ba3.adca38","group":"cfde000e.e9221","order":3,"width":"2","height":"1","name":"","label":"P Factor","format":"{{msg.payload}} ","layout":"col-center","x":1020,"y":260,"wires":[]},{"id":"8681c536.271d68","type":"link in","z":"af139ba3.adca38","name":"","links":["4115fc9f.f4aa34"],"x":915,"y":260,"wires":[["b28fc83d.0cbda8"]]},{"id":"97284d46.b58c8","type":"link in","z":"af139ba3.adca38","name":"","links":["df00ff84.a72b"],"x":915,"y":300,"wires":[["2397bc65.58e204"]]},{"id":"2397bc65.58e204","type":"ui_chart","z":"af139ba3.adca38","name":"","group":"cfde000e.e9221","order":4,"width":"0","height":"0","label":"Power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#53d20f","#aec7e8","#e6730f","#2ca02c","#98df8a","#d72828","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1010,"y":300,"wires":[[]]},{"id":"38af50e8.166e5","type":"link in","z":"af139ba3.adca38","name":"","links":["e96c9c5d.5c328"],"x":595,"y":640,"wires":[["ff7ae03e.9194c"]]},{"id":"ff7ae03e.9194c","type":"ui_chart","z":"af139ba3.adca38","name":"","group":"ef69ee02.8369e","order":8,"width":"6","height":"5","label":"Energy","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#f20232","#aec7e8","#e6730f","#2ca02c","#98df8a","#d72828","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":640,"wires":[[]]},{"id":"bbf4ebdb.2a7538","type":"ui_text","z":"af139ba3.adca38","group":"58be0d6f.d2e8b4","order":1,"width":"3","height":"1","name":"","label":"Uptime Hours","format":"{{msg.payload}} H ","layout":"col-center","x":420,"y":400,"wires":[]},{"id":"2425cd23.dbc172","type":"ui_text","z":"af139ba3.adca38","group":"58be0d6f.d2e8b4","order":3,"width":"3","height":"2","name":"","label":"Runtime Hours","format":"{{msg.payload}} H","layout":"col-center","x":420,"y":440,"wires":[]},{"id":"adbe9065.32346","type":"ui_text","z":"af139ba3.adca38","group":"58be0d6f.d2e8b4","order":5,"width":"3","height":"1","name":"","label":"Downtime Hours","format":"{{msg.payload}} H","layout":"col-center","x":420,"y":480,"wires":[]},{"id":"8c5e3e14.122da","type":"link in","z":"af139ba3.adca38","name":"DataTime","links":["d6983b99.65fd08"],"x":295,"y":400,"wires":[["bbf4ebdb.2a7538"]]},{"id":"a0b655d.eb34ba8","type":"link in","z":"af139ba3.adca38","name":"DataTime","links":["8effb210.2676a"],"x":295,"y":440,"wires":[["2425cd23.dbc172"]]},{"id":"fc3808f4.dde918","type":"link in","z":"af139ba3.adca38","name":"DataTime","links":["50bf5b47.295be4"],"x":295,"y":480,"wires":[["adbe9065.32346"]]},{"id":"13b29f9e.ed3ef","type":"link in","z":"af139ba3.adca38","name":"","links":["c568feef.dd4f1"],"x":295,"y":300,"wires":[["4cba18e7.111948"]]},{"id":"4cba18e7.111948","type":"ui_chart","z":"af139ba3.adca38","name":"","group":"daa24bbc.e7d478","order":4,"width":"0","height":"0","label":"Power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#53d20f","#aec7e8","#e6730f","#2ca02c","#98df8a","#d72828","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":390,"y":300,"wires":[[]]},{"id":"2d34c269.f7b49e","type":"function","z":"af139ba3.adca38","name":"Excel Upload","func":"var date=msg.date;\nmsg.topic = \"SELECT `data1`, `data2`, `tegangan`, `arus`, `power`, `energy`, `frekuensi`, `power_factor`,`tegangan_1`,`arus_1`,`power_1`,`energy_1`,`frekuensi_1`,`power_factor_1`,`tegangan_2`,`arus_2`,`power_2`,`energy_2`,`frekuensi_2`,`power_factor_2`,`tegangan_phase`,`arus_total`,`power_total`,`energy_total`,`cost`,`time_upload`,`date` FROM `tabel_data1` WHERE date='\" +date+\"'\";\nmsg.payload=date\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":740,"wires":[["dc3aa75d.9d6058","3641b28c.251aee"]]},{"id":"dc3aa75d.9d6058","type":"mysql","z":"af139ba3.adca38","mydb":"73fc5ddb.de86c4","name":"Database_phpmyadmin","x":890,"y":740,"wires":[["a7a80bc2.2cd468"]]},{"id":"c9b87411.c98e38","type":"function","z":"af139ba3.adca38","name":"set timestamp","func":"var d = new Date(msg.payload);\nvar button=msg.topic\nvar formattedDate = d.toLocaleDateString();\nmsg.date=formattedDate;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":740,"wires":[["2d34c269.f7b49e"]]},{"id":"6c63ae50.1488a","type":"ui_date_picker","z":"af139ba3.adca38","name":"","label":"date","group":"651efec9.b4e15","order":1,"width":"0","height":"0","passthru":true,"topic":"","x":330,"y":740,"wires":[["c9b87411.c98e38"]]},{"id":"18a15b60.66f2f5","type":"link in","z":"af139ba3.adca38","name":"","links":["c568feef.dd4f1"],"x":595,"y":440,"wires":[["73b24e8c.25f64"]]},{"id":"73b24e8c.25f64","type":"ui_chart","z":"af139ba3.adca38","name":"","group":"8f25c460.da8258","order":2,"width":"6","height":"5","label":"Power Total","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#3d309c","#aec7e8","#e6730f","#2ca02c","#98df8a","#d72828","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":440,"wires":[[]]},{"id":"21aad2da.398e2e","type":"ui_gauge","z":"af139ba3.adca38","name":"","group":"6cbebe19.55f03","order":1,"width":"0","height":"0","gtype":"donut","title":"Utilization","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":640,"wires":[]},{"id":"e2bbee17.1b35","type":"link in","z":"af139ba3.adca38","name":"DataTime1","links":["c568feef.dd4f1"],"x":295,"y":640,"wires":[["21aad2da.398e2e"]]},{"id":"329944cc.84357c","type":"ui_text","z":"af139ba3.adca38","group":"2a09880c.915f48","order":1,"width":"0","height":"0","name":"","label":"Tegangan 3 phase ","format":"{{msg.totaltegangan}} V","layout":"row-spread","x":1250,"y":400,"wires":[]},{"id":"ca3a615c.986da","type":"ui_text","z":"af139ba3.adca38","group":"2a09880c.915f48","order":1,"width":"0","height":"0","name":"","label":"Arus Total","format":"{{msg.arustotal}} A","layout":"row-spread","x":1220,"y":440,"wires":[]},{"id":"107bcbc8.d995d4","type":"ui_text","z":"af139ba3.adca38","group":"2a09880c.915f48","order":1,"width":"0","height":"0","name":"","label":"Power Total","format":"{{msg.powertotal}} Watt","layout":"row-spread","x":1230,"y":480,"wires":[]},{"id":"5e92deef.5d21b","type":"ui_text","z":"af139ba3.adca38","group":"2a09880c.915f48","order":1,"width":"0","height":"0","name":"","label":"Energy Total","format":"{{msg.energytotal}} Kwh","layout":"row-spread","x":1230,"y":520,"wires":[]},{"id":"7cf4cf0.fa9613","type":"ui_text","z":"af139ba3.adca38","group":"2a09880c.915f48","order":1,"width":"0","height":"0","name":"","label":"Cost","format":"Rp. {{msg.cost}} ","layout":"row-spread","x":1210,"y":560,"wires":[]},{"id":"a7a80bc2.2cd468","type":"excel","z":"af139ba3.adca38","name":"","file":"Downloads\\History_data.xlsx","x":1090,"y":740,"wires":[[]]},{"id":"70c0eddd.7de624","type":"function","z":"af139ba3.adca38","name":"Set base path","func":"//restrict to c:\\temp\\\nvar basePath = \"Downloads\\\\History_data\";\nvar filename = msg.req.params.fn;\n\n\nif(filename.includes(\"..\\\\\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} else if(filename.includes(\"../\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} \n//TODO: add more checks\n\nmsg.filename = basePath + filename;\nreturn [msg, null];//fire output 1\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":520,"y":840,"wires":[["40e73afb.b7ac54"],["4d5b8034.c174"]]},{"id":"4d5b8034.c174","type":"http response","z":"af139ba3.adca38","name":"","statusCode":"","headers":{},"x":870,"y":900,"wires":[]},{"id":"40e73afb.b7ac54","type":"file in","z":"af139ba3.adca38","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":730,"y":840,"wires":[["4d5b8034.c174","928037c4.c902b8"]]},{"id":"b4b37572.6adf68","type":"catch","z":"af139ba3.adca38","name":"","scope":null,"uncaught":false,"x":340,"y":900,"wires":[["c182f86b.ec18c8"]]},{"id":"c182f86b.ec18c8","type":"function","z":"af139ba3.adca38","name":"Set 404","func":"msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":900,"wires":[["4d5b8034.c174"]]},{"id":"5d3eb5bc.715ccc","type":"ui_template","z":"af139ba3.adca38","group":"651efec9.b4e15","name":"Download Data","order":0,"width":0,"height":0,"format":"<div >\n<md-button style=\"width: 305px; height:40px;\" ng-click=a href=\"/files/.xlsx\">Download<br/> Data History</md-button>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":900,"y":860,"wires":[[]]},{"id":"6749aaf6.f15854","type":"http in","z":"af139ba3.adca38","name":"","url":"/files/:fn","method":"get","upload":false,"swaggerDoc":"","x":350,"y":840,"wires":[["70c0eddd.7de624"]]},{"id":"e206033d.fbcbb","type":"ui_text","z":"af139ba3.adca38","group":"58be0d6f.d2e8b4","order":2,"width":"3","height":"1","name":"","label":"Uptime Minutes","format":"{{msg.payload}} M","layout":"col-center","x":420,"y":520,"wires":[]},{"id":"f2936b5a.956f48","type":"ui_text","z":"af139ba3.adca38","group":"58be0d6f.d2e8b4","order":4,"width":"3","height":"2","name":"","label":"Runtime Minutes","format":"{{msg.payload}} M","layout":"col-center","x":430,"y":560,"wires":[]},{"id":"47cb60af.74361","type":"ui_text","z":"af139ba3.adca38","group":"58be0d6f.d2e8b4","order":6,"width":"3","height":"1","name":"","label":"Downtime Minute","format":"{{msg.payload}} M","layout":"col-center","x":430,"y":600,"wires":[]},{"id":"d58f2ec1.d96fe","type":"link in","z":"af139ba3.adca38","name":"DataTime","links":["91857ae6.03ea38"],"x":295,"y":520,"wires":[["e206033d.fbcbb"]]},{"id":"57e8438c.00a19c","type":"link in","z":"af139ba3.adca38","name":"DataTime","links":["60c8a100.04067"],"x":295,"y":560,"wires":[["f2936b5a.956f48"]]},{"id":"a260c440.6d6f88","type":"link in","z":"af139ba3.adca38","name":"DataTime","links":["21be2926.bc2bc6"],"x":295,"y":600,"wires":[["47cb60af.74361"]]},{"id":"4c21a3b2.51e92c","type":"function","z":"af139ba3.adca38","name":"Kwh cost","func":"var kwh=msg.payload\nvar cost=parseInt(kwh*1500)\nmsg.cost=cost\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":560,"wires":[["7cf4cf0.fa9613"]]},{"id":"b7f82cee.c4194","type":"function","z":"af139ba3.adca38","name":"Tegangan 3 phase","func":"var tegangan=msg.payload\nvar fasa=tegangan*1.73205081\nvar fasa1=parseInt(fasa)\nmsg.totaltegangan=fasa1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":400,"wires":[["329944cc.84357c"]]},{"id":"8540a12c.d9975","type":"link in","z":"af139ba3.adca38","name":"DataTime1","links":["de57f375.c2873"],"x":895,"y":400,"wires":[["b7f82cee.c4194"]]},{"id":"e0c531fc.960e4","type":"link in","z":"af139ba3.adca38","name":"DataTime1","links":["2788e147.7d5cde"],"x":895,"y":440,"wires":[["8615ce98.45c57"]]},{"id":"c0e14193.88fd2","type":"link in","z":"af139ba3.adca38","name":"DataTime1","links":["c568feef.dd4f1"],"x":895,"y":480,"wires":[["11c178d8.685ce7"]]},{"id":"620d1a9d.88fc84","type":"link in","z":"af139ba3.adca38","name":"DataTime1","links":["5a7f98db.92b358"],"x":895,"y":520,"wires":[["52fb5b8b.0c50e4"]]},{"id":"599515c7.bffa5c","type":"link in","z":"af139ba3.adca38","name":"DataTime1","links":["5a7f98db.92b358"],"x":895,"y":560,"wires":[["4c21a3b2.51e92c"]]},{"id":"928037c4.c902b8","type":"ui_toast","z":"af139ba3.adca38","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Download Succes","name":"Download succes","x":910,"y":820,"wires":[[]]},{"id":"8615ce98.45c57","type":"function","z":"af139ba3.adca38","name":"Arus total","func":"var arus=msg.payload\nmsg.arustotal=arus\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":440,"wires":[["ca3a615c.986da"]]},{"id":"11c178d8.685ce7","type":"function","z":"af139ba3.adca38","name":"power total","func":"var power=msg.payload\nmsg.powertotal=power\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":480,"wires":[["107bcbc8.d995d4"]]},{"id":"52fb5b8b.0c50e4","type":"function","z":"af139ba3.adca38","name":"energy total","func":"var energy=msg.payload\nmsg.energytotal=energy\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":520,"wires":[["5e92deef.5d21b"]]},{"id":"3641b28c.251aee","type":"debug","z":"af139ba3.adca38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":700,"wires":[]},{"id":"f264e86e.d12eb8","type":"mysql","z":"af139ba3.adca38","mydb":"73fc5ddb.de86c4","name":"Database_phpmyadmin","x":670,"y":1000,"wires":[[]]},{"id":"57c73b2f.4c8b14","type":"comment","z":"af139ba3.adca38","name":"Phase R","info":"","x":400,"y":140,"wires":[]},{"id":"3bb24d0a.2b5a52","type":"comment","z":"af139ba3.adca38","name":"Phase S","info":"","x":700,"y":140,"wires":[]},{"id":"45cdc2da.6ce35c","type":"comment","z":"af139ba3.adca38","name":"Phase T","info":"","x":1020,"y":140,"wires":[]},{"id":"84295667.dcbcd8","type":"comment","z":"af139ba3.adca38","name":"Basic Data","info":"","x":400,"y":360,"wires":[]},{"id":"575101d2.ad52c","type":"comment","z":"af139ba3.adca38","name":"Total Data","info":"","x":700,"y":360,"wires":[]},{"id":"1d672343.e079fd","type":"comment","z":"af139ba3.adca38","name":"Energy RST","info":"","x":710,"y":520,"wires":[]},{"id":"33daf726.df3eb8","type":"comment","z":"af139ba3.adca38","name":"Final Data","info":"","x":1000,"y":360,"wires":[]},{"id":"de940589.765288","type":"comment","z":"af139ba3.adca38","name":"Excel Export","info":"","x":350,"y":700,"wires":[]},{"id":"ada7f0a0.39136","type":"comment","z":"af139ba3.adca38","name":"Excel Download","info":"","x":360,"y":800,"wires":[]},{"id":"806bcb27.0783a8","type":"comment","z":"af139ba3.adca38","name":"Time","info":"","x":330,"y":960,"wires":[]},{"id":"b4bb775a.087458","type":"function","z":"af139ba3.adca38","name":"Timer to Database","func":"var outputMsgs=[];\nvar values = msg.payload.trim().split(\",\");\nfor (var v in values){\n    outputMsgs.push({payload:values[v]});\n}\n// replace myTable with your db table name \nvar d=new Date();\nvar Time=d.toLocaleTimeString();\nvar _resultDate = d.toLocaleDateString();\nvar button =values[26]\nmsg.button=button\nmsg.topic = \"UPDATE tabel_data2 SET uptime_hours = '\" + values[8] + \"', uptime_minutes='\" + values[9] + \"', runtime_hours='\" + values[10] + \"', runtime_minutes='\" + values[11] +\"', downtime_hours='\" + values[12] + \"', downtime_minutes='\" + values[13] +\"'\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1000,"wires":[["f264e86e.d12eb8"]]},{"id":"e1258d19.cf4df","type":"link in","z":"af139ba3.adca38","name":"DataTime1","links":["cb3ebdf9.17a57","f4de898a.3a03e8","18ee9f54.715671"],"x":295,"y":1000,"wires":[["b4bb775a.087458"]]},{"id":"daa24bbc.e7d478","type":"ui_group","name":"Phase R","tab":"9b58a93.0086558","order":3,"disp":true,"width":"6","collapse":false},{"id":"95894707.a4dd78","type":"ui_group","name":"Energy R","tab":"9b58a93.0086558","order":4,"disp":true,"width":"6","collapse":false},{"id":"1915f58a.4e7f3a","type":"ui_group","name":"Phase S","tab":"9b58a93.0086558","order":5,"disp":true,"width":"6","collapse":false},{"id":"98ba33f6.116b3","type":"ui_group","name":"Energy S","tab":"9b58a93.0086558","order":6,"disp":true,"width":"6","collapse":false},{"id":"43515583.f4b06c","type":"ui_group","name":"Energy Total","tab":"9b58a93.0086558","order":9,"disp":true,"width":"6","collapse":false},{"id":"cfde000e.e9221","type":"ui_group","name":"Phase T","tab":"9b58a93.0086558","order":7,"disp":true,"width":"6","collapse":false},{"id":"ef69ee02.8369e","type":"ui_group","name":"Energy T","tab":"9b58a93.0086558","order":8,"disp":true,"width":"6","collapse":false},{"id":"58be0d6f.d2e8b4","type":"ui_group","name":"Data Basic","tab":"9b58a93.0086558","order":1,"disp":true,"width":"6","collapse":false},{"id":"73fc5ddb.de86c4","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"iotsql","tz":"","charset":"UTF8"},{"id":"651efec9.b4e15","type":"ui_group","name":"Download Data Logger","tab":"9b58a93.0086558","order":12,"disp":true,"width":"6","collapse":false},{"id":"8f25c460.da8258","type":"ui_group","name":"Power Total","tab":"9b58a93.0086558","order":10,"disp":true,"width":"6","collapse":false},{"id":"6cbebe19.55f03","type":"ui_group","name":"Timer","tab":"9b58a93.0086558","order":2,"disp":false,"width":"6","collapse":false},{"id":"2a09880c.915f48","type":"ui_group","name":"Cost","tab":"9b58a93.0086558","order":11,"disp":true,"width":"6","collapse":false},{"id":"9b58a93.0086558","type":"ui_tab","name":"My Home","icon":"home","order":1,"disabled":false,"hidden":false}]